
body {
	background-image:url(http://www.publicdomainpictures.net/pictures/70000/nahled/background-with-snowflakes.jpg);
}

.intro img {
	max-width: 400px;
	max-height: 400px;
}

a {
	color: white;
}

h1 {
	color: white;
}